.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.postsWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0 1 100%;
    overflow-y: auto;
}

.outlet {
    height: 100%;
    width: fit-content;
    /*flex: 1 0 50%;*/
    display: flex;

}