.imgWrapper{
    display: flex;
    position:relative;
    width:270px;
    overflow: hidden;
    flex-grow: 2;
}

.imgWrapper img {
    width: 270px;
    border-radius: 10px;
}
.imgRibbon {
    display: flex;
    position: relative;
    left:0;
    align-items: center;
     width:fit-content;
   transition: 0.5s ease-in-out;
}