.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #b1b1b1;
    width: 150px;
    overflow: hidden;
    height: fit-content;

    .buttonsBox {
        position: absolute;
        right: -80px;
        bottom: 10px;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
        opacity: 0;

        a, button {
            text-decoration: none;
            color: #000000;
            padding: 3px;
            margin: 3px 0;
            background: #e0e0e0;
            border-radius: 5px;
            border: 1px solid #979797;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

    }
}

.wrapper:hover .buttonsBox {
    right: 10px;
    opacity: 0.8;
}


