.card {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.card * {
    pointer-events: none;
}

.card div {
    margin: 3px 0 3px 20px
}

.card p {
}