.formWrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    padding: 16px;
}

.form label {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin: 20px 0;
    align-items: center;
}

label > * {
    padding: 5px;
    width: 380px;
    font-size: 16px;
    font-family: "Arial", sans-serif;
}

label textarea {
    height: 200px;
}

.warning {
    position: absolute;
    opacity: 0;
    animation: popUp 1s forwards;
    background: white;
    top: -42px;
    right: -5px;
    text-align: right;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: 1px red solid;

}

form button {
    font-size: 16px;
}

@keyframes popUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }


}

textarea {
    resize: none;
}