body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.objectWrapper {
    display: flex;
    flex-direction: column;
}

.dataLine {
    display: flex;
    margin-left: 15px;
    overflow-x: auto;
}

.key {
    display: block;
    font-weight: bold;
}


.key:first-letter {
    text-transform: uppercase;
}

.separator {
    margin: 0 5px;
}

