body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.active {
    font-weight: bold;
}

body .notActive {
    background: gray;
    cursor: auto;
    pointer-events: none;
}

.noData {
    padding: 10px;
    margin-top: calc(39vh - 13px);
    border: 1px solid #6e6e6e;
    border-radius: 8px;
    text-align: center;
    width: fit-content;
    align-self: center;
}

body .pressed {
    background: #caebeb;
}
